body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B9C5C5;
    padding: 0;
}
header{
    background-color: rgba(240, 255, 255, 0.179);
    color: black;
    padding: 20px 20px 20px 0px;
    text-align: start;
}

nav{
    background-color: #c0ccc0;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 15px;
    margin: 0px;
}

nav ul li{
    display: inline;
    padding: 25px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

section ul li{
    list-style: none;
}

footer{
    background-color: #c0ccc0 ;
    position: fixed;
    bottom: 0;
    padding: 25;
    text-align: center;
    width: 100%;
}

section{
    border-radius: 10px;
    border: 2px;
    background-color: antiquewhite;
    margin-bottom: 25px;
    width: 100%;
    left: 0;
}